<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <!-- 移动端预览设置 -->
    <meta name="vireport" content="width=device-width,initial-scale=1.0">
    <title>Blog管理后台</title>
    <link rel="stylesheet" href="../../static/lib/Semantic/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">

    <script src="../../static/js/jquery-2.1.1.min.js"></script>
    <script src="../../static/lib/Semantic/semantic.min.js"></script>
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments::menu(1)"  class="ui inverted attached segment">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu" >
                <h2 class="ui teal header item">Blog管理后台</h2>
                <a href="#" class="m-item item m-mobile-hide active"><i class="mini home icon"></i>博客</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <div class="right menu m-item item m-mobile-hide" >
                    <div class="ui dropdown item">
                        <div class="text">
                            <img  class="ui image avatar" src="../../static/image/jenny.jpg">蓝景优
                            <i class="dropdown icon"></i>
                        </div>
                        <div class="menu ">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="sidebar_button" class="ui black button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>
    <!--二级导航-->
    <!--<div class="ui attached menu">
        <div class="ui container">
            <div class="right menu">
                <a href="#" class="item">发布</a>
                <a href="#" class="item active teal">列表</a>
            </div>
        </div>

    </div>-->


<!--主页内容-->
    <div class="m-container m-padded-big ui segment inverted">
        <div class="ui container">
             <!--搜索框-->
            <div class="ui form segment inverted">
                <input type="hidden" name="page">
                <div class="inline fields">
                    <div class="field">
                        <input type="text" name="title" placeholder="标题">
                    </div>
                    <div class="field">
                        <div class="ui selection dropdown">
                            <input type="hidden" name="typeId" >
                            <i class="dropdown icon"></i>
                            <div class="default text">分类</div>
                            <div class="menu">
                                <div th:each="type : ${types}" th:data-value="${type.id}" th:text="${type.name}" class="item" data-alue="1">开发者手册</div>
                            </div>
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            <input type="checkbox" id="recommend" name="recommend" >
                            <label for="recommend">推荐</label>
                        </div>
                    </div>
                    <div class="field">
                        <button  id="search-btn" class="ui mini teal button">
                            <i class="search icon"></i>搜索
                        </button>
                    </div>
                </div>
            </div>
            <div id="table-contatiner" th:fragment="blogList">
                <!--消息提示-->
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="head'">提示：</div>
                    <p th:text="${message}">操作成功！</p>
                </div>
                <div class="ui fail message red" th:unless="${#strings.isEmpty(error_message)}">
                    <i class="close icon"></i>
                    <div class="head'">提示：</div>
                    <p th:text="${error_message}">操作失败！</p>
                </div>
                <!--博客列表-->
                <table class="ui celled  inverted table">
                    <thead>
                    <tr>
                        <th></th>
                        <th>标题</th>
                        <th>类型</th>
                        <th>推荐</th>
                        <th>浏览次数</th>
                        <th>赞赏功能</th>
                        <th>版权开启</th>
                        <th>评论开启</th>
                        <th>是否推荐</th>
                        <th>发布状态</th>
                        <th>创建时间</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  th:each="blog,iterStat : ${page.content}">
                        <td th:text="${iterStat.count}">1</td>
                        <td th:text="${blog.title}">John</td>
                        <td th:text="${blog.type.name}">Approved</td>
                        <td th:text="${blog.recommened} ? '是' : '否'">yes</td>
                        <td th:text="${blog.views}">11</td>
                        <td th:text="${blog.appreciation} ? '是' : '否'">yes</td>
                        <td th:text="${blog.shareStatement} ? '是' : '否'">yes</td>
                        <td th:text="${blog.commentabled} ? '是' : '否'">yes</td>
                        <td th:text="${blog.recommened} ? '是' : '否'">yes</td>
                        <td th:text="${blog.published} ? '已发布' : '未发布'">yes</td>
                        <td th:text="${blog.createTime}">2020-01-09</td>
                        <td th:text="${blog.updateTime}">2020-01-09</td>
                        <td>
                            <a href="#" th:href="@{/admin/blogs/{id}/update(id=${blog.id})}" th:unless="${blog.published}" class="ui mini teal button">编辑</a>
                            <a href="#" th:href="@{/admin/blogs/{id}/delete(id=${blog.id})}" class="ui mini red button">删除</a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot >
                    <tr>
                        <th colspan="6">
                            <div class="ui pagination inverted menu" th:if="${page.totalPages}>1">
                                <a class="item" onclick="page(this)" th:attr="data-page=${page.number}-1" th:unless="${page.first}">上一页</a>
                                <a class="item" onclick="page(this)" th:attr="data-page=${page.number}+1" th:unless="${page.last}">下一页>></a>
                            </div>
                            <a href="#" th:href="@{/admin/blogs/input}" class=" ui mini right green button">新增<i class="icon add"></i></a>
                        </th>
                    </tr>
                    </tfoot>
                </table>


            </div>

        </div>
        <br>
        <br><br>
        <br><br>
        <br>
    </div>

<!--底部-->
    <footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive">
        <div class="ui middle aligned container m-opacity-mini m-container-sm">
            <div class="ui inverted divided attached grid aligned stackable">
                <div class="two wide column">
                    <img src="../../static/image/qrcode.png" class="ui rounded image" alt="" style="width: 100px">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item ">首页</a>
                        <a href="#" class="item">分类</a>
                        <a href="#" class="item">标签</a>
                        <a href="#" class="item">关于我</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:lanjydeve2014@163.com</a>
                        <a href="#" class="item">QQ:1615960786</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="ui inverted link list">
                        <h4 class="ui inverted header"></h4>
                        <p>这是我的个人博客，会不定期分享一些编程、写作、思考相关的文章......</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="ui inverted divided attached grid center aligned">
                <div class="sixteen wide column">
                    <p class=" m-text-thin m-text-space m-text-lined">Copyright©2019-2025 Designed by lanjy</p>
                </div>
            </div>
        </div>
    </footer>




    <script>
        //关闭消息提示框
        $(".message .close").on('click',function () {
            $(this).closest('.message').transition('fade');
        });

        $("#sidebar_button").click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $(".ui.dropdown").dropdown();

        function page(obj) {
            $("[name='page']").val($(obj).data("page"));
            loaddata();
        }
        //实现页面局部渲染
        function loaddata() {
            $("#table-contatiner").load(/*[[@{/admin/blogs/search}]]*/"/admin/blogs/search",{
                title:$("[name='title']").val(),
                typeId:$("[name='typeId']").val(),
                recommend:$("[name='recommend']").prop('checked'),
                page:$("[name='page']").val(),
                size:5
            });
        }
        //搜索
        $("#search-btn").click(function () {
            loaddata();
        })

    </script>
</body>
</html>