<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head  th:replace="admin/_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <!-- 移动端预览设置 -->
    <meta name="vireport" content="width=device-width,initial-scale=1.0">
    <title>Blog管理后台-个人信息</title>
    <link rel="stylesheet" href="../../static/lib/Semantic/semantic.min.css">
    <link rel="stylesheet" href="../../static/css/index.css">
    <link rel="stylesheet" href="../../static/lib/editorMd/css/editormd.css" />

    <script src="../../static/js/jquery-2.1.1.min.js"></script>
    <script src="../../static/lib/Semantic/semantic.min.js"></script>
</head>
<body>
    <!--导航-->
    <nav th:replace="admin/_fragments::menu(4)"  class="ui inverted attached segment ">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu" >
                <h2 class="ui teal header item">Blog管理后台</h2>
                <a href="#" class="m-item item m-mobile-hide active"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini list icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>个人中心</a>
                <div class="right menu m-item item m-mobile-hide" >
                    <div class="ui dropdown item">
                        <div class="text">
                            <img  class="ui image avatar" src="../../static/image/jenny.jpg">蓝景优
                            <i class="dropdown icon"></i>
                        </div>
                        <div class="menu ">
                            <a href="#" class="item">注销</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="sidebar_button" class="ui black button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>



<!--主页内容-->
    <div class="m-container m-padded-big">
        <div class="ui container m-container">

            <div class="ui grid">
                <div class="twelve wide stretched column">
                    <div class="ui segment">
                        <div class="text">
                            <img  class="ui image avatar" th:src="@{${user.avatar}}" src="/jenny.jpg" style="width: 100px;height: 100px" >
                        </div><br>
                        <div class="ui left labeled input">
                            <div id="uploader" style="width: 500px"></div>
                            <div id="m-uploader" class="ui inverted dimmer">
                                <div class="ui large text loader">上传中</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="four wide column">
                    <div class="ui vertical fluid right tabular menu">
                        <a class="item active">
                            头像
                        </a>
                        <a class="item">
                            微信二维码
                        </a>
                        <a class="item">
                            赞赏码
                        </a>
                    </div>
                </div>
            </div>





            <form method="post" action="#" th:action="@{/userinfo/user}" class="ui form">
                <div class="field">


                    <div class="ui left labeled input">
                        <input type="hidden" name="id" th:value="${user.id}">
                    </div>
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">用户名</label>
                        <input type="" name="username" th:value="${user.username}" placeholder="用户名">
                    </div>
                    <div class="ui left labeled input"></div>
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">昵称</label>
                        <input type="text" name="nickName" th:value="${user.nickName}" placeholder="昵称">
                    </div>
                    <div class="ui left labeled input"></div>
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">邮箱</label>
                        <input type="text" name="email" th:value="${user.email}" placeholder="邮箱">
                    </div>
                </div>

                <div class="field ui right aligned container">
                    <button type="button" class="ui button" onclick="window.history.go(-1)">返回</button>
                    <button class="ui teal submit button" >提交</button>
                </div>
                <!--消息提示-->
                <div class="ui fail message red" th:unless="${#strings.isEmpty(error_message)}">
                    <i class="close icon"></i>
                    <div class="head'">提示：</div>
                    <p th:text="${error_message}">操作失败！</p>
                </div>
                <div class="ui fail message teal" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="head'">提示：</div>
                    <p th:text="${message}">操作失败！</p>
                </div>
            </form>
        </div>
    </div>

<!--底部-->
    <footer th:replace="admin/_fragments::footer" class="ui inverted vertical segment m-padded-tb-massive m-margin-top-small">
        <div class="ui middle aligned container m-opacity-mini m-container-sm">
            <div class="ui inverted divided attached grid aligned stackable">
                <div class="two wide column">
                    <img src="../../static/image/qrcode.png" class="ui rounded image" alt="" style="width: 100px">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item ">首页</a>
                        <a href="#" class="item">分类</a>
                        <a href="#" class="item">标签</a>
                        <a href="#" class="item">关于我</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:lanjydeve2014@163.com</a>
                        <a href="#" class="item">QQ:1615960786</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="ui inverted link list">
                        <h4 class="ui inverted header"></h4>
                        <p>这是我的个人博客，会不定期分享一些编程、写作、思考相关的文章......</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="ui inverted divided attached grid center aligned">
                <div class="sixteen wide column">
                    <p class=" m-text-thin m-text-space m-text-lined">Copyright©2019-2025 Designed by lanjy</p>
                </div>
            </div>
        </div>
    </footer>





    <script>
        //关闭消息提示框
        $(".message .close").on('click',function () {
            $(this).closest('.message').transition('fade');
        });
        $("#sidebar_button").click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });
        $(".ui.dropdown").dropdown();

        $('.ui.form')
            .form({
                title: {
                    identifier  : 'name',
                    rules: [
                        {
                            type   : 'empty',
                            prompt : 'Please enter your name'
                        },
                        {
                            type   : 'maxLength[12]',
                            prompt : 'Your password must be at least 6 characters'
                        }
                    ]
                }
            })
        ;

        //easyUploader
        var uploader = easyUploader({
            id: "uploader",
            accept: '.jpg,.png',
            action: '/userinfo/avatar',
            dataFormat: 'formData',
            fromParam:{},
            maxCount: 1,
            maxSize: 1,
            multiple: true,
            data: null,
            beforeUpload: function(file, data, args) {
                data.append('token', '387126b0-7b3e-4a2a-86ad-ae5c5edd0ae6TT'); //上传方式为formData时
                // data.id = file.id; //上传方式为base64时
                $("#m-uploader").addClass("active");
            },
            onChange: function(fileList) {
                /* input选中时触发 */
            },
            onRemove: function(removedFiles, files) {
                console.log('onRemove', deletedFiles);
                $("#m-uploader").removeClass("active");
            },
            onSuccess: function(res) {
                console.log('onSuccess', res);
                $("#m-uploader").removeClass("active");
                location.reload();
            },
            onError: function(err) {
                console.log('onError', err);
                $("#m-uploader").removeClass("active");
            },
        });
        var files = uploader.files; //通过实例的files熟悉可以访问上传文件
        console.log(files);
    </script>
</body>
</html>