.m-bg{
    background: url("../image/bg (2).jpg") !important;
}
.m-home {
    opacity: 0.80;
}
html,body{
    background: none !important;
}
.m-body {
    height: 100% !important;
    margin: 0!important;
    background-image:url(http://images.cnblogs.com/cnblogs_com/Whiteying/1356054/o_cc020ef3d7ca7bcb5a1bc12bbe096b63f624a85a.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size:cover;

   /* background: url("../image/bg (2).jpg") !important;*/
}

/*------------color------------*/
.m-black{
    color: #000000 !important;
}
.m-teal{
    color: #00B5AD !important;
}
.m-label-color-black{
    color: #000000 !important;
}

/*------------shadow------------*/
.m-shadow-small{
    -webkit-box-shadow:  0 4px 8px rgba(0,0,0,2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,2) !important;

}
/*----------position----------*/
.m-fixed{
     position: fixed !important;
     z-index: 2 !important;
 }

.m-rifht-bottom{
    bottom: 0 !important;
    right: 0 !important;
}
.m-container{
    min-height: 100% !important;
    max-width: 100em !important;
    margin: auto !important;
}
.m-container-sm{
    min-height: 100% !important;
    max-width: 70em !important;
    margin: auto !important;
}
.m-padded-tb-mini{
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-lr{
    padding-left: 4em !important;
    padding-right: 4em !important;
}
.m-padded-big{
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
    height: 35% !important;
}
.m-padded-mini{
    padding: 0.2em !important;
}
.m-padded-sm{
    padding: 1em !important;
}
.m-margin-top-small{
    margin-top: 2.5em !important;
}
.m-margin-mini{
    margin: 0.2em !important;
}

.m-top-right{
    position: absolute;
    top:0;
    right: 0;
}


/*------text-------*/
.m-text-thin{
    font-weight: 300 !important;
}
.m-text-space{
    letter-spacing: 1px !important;
}
.m-text-lined{
    line-height: 1.8 !important;
}
/*------透明度-------*/
.m-opacity-mini{
    opacity: 0.5 !important;
}
.m-inline-block{
    display: inline-block !important;
}
/*------手机端导航栏隐藏-------*/
.m-mobile-show{
    display: none !important;
}
@media screen and (max-width: 768px) {
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

