<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments::head(~{::title})">
    <meta charset="UTF-8">
    <!-- 移动端预览设置 -->
    <meta name="vireport" content="width=device-width,initial-scale=1.0">
    <title>分类</title>
    <link rel="stylesheet" href="../static/lib/Semantic/semantic.min.css"/>
    <link rel="stylesheet" href="../static/css/index.css"/>

    <script src="../static/js/jquery-2.1.1.min.js"></script>
    <script src="Semantic/semantic.min.js"></script>
</head>
<body>

    <!--导航-->
    <nav th:replace="_fragments::menu(2)" class="ui inverted attached segment ">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu" >
                <h2 class="ui teal header item">Blog</h2>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>首页</a>
                <a href="#" class="m-item item m-mobile-hide active"><i class="mini idea icon"></i>分类</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>标签</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>归档</a>
                <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i>关于我</a>
                <div class="right m-item item m-mobile-hide" >
                    <div class="ui inverted transparent icon input">
                        <input type="text" placeholder="Search...">
                        <i class="search icon"></i>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" id="sidebar_button" class="ui black button m-top-right m-mobile-show">
            <i class="sidebar icon"></i>
        </a>
    </nav>

<!--主页内容区域-->
    <div class="m-container ui grid stackable ">
        <div class="sixteen wide column">
            <div class="ui top attached segment">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">分类</h3>
                    </div>
                    <div class="column right aligned">
                        共 <h2 class="ui orange header m-inline-block" th:text="${page.totalElements}"> 14 </h2> 篇
                    </div>
                </div>
            </div>
            <!--标签类型与文章数-->
            <div class="ui top attached segment">
                <div class="ui inverted segment">
                    <a href="#" th:href="@{/types/{id}(id=${type.id})}" th:each="type : ${types}">
                        <div class="ui teal button m-margin-mini" th:classappend="${type.id==activeTypeId} ? 'yellow'">
                            <span th:text="${type.name}">Teal</span>
                            <div class="ui left teal pointing label" th:classappend="${type.id==activeTypeId} ? 'yellow'" th:text="${#arrays.length(type.blogs)}">22</div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="ui attached segment">
                <div class="ui middle aligned mobile reversed attached grid" th:each="blog : ${page.content}">
                    <div class="eleven wide column">
                        <h3 class="ui header"><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" class="m-label-color-black" th:text="${blog.title}">记录mysql-5.7.15-winx64的安装过程</a></h3>
                        <p class="m-text-lined m-text-space m-text-thin" th:text="|${blog.description}......|">不多说，先挂百度网盘链接，需要的自行下载，
                            链接：https://pan.baidu.com/s/1MAhJnXgJHIC0NtRQBEZvbg
                            提取码：l3cr
                        </p>
                        <div class="ui grid">
                            <div class="twelve wide column">
                                <div class="ui horizontal link list attached ">
                                    <div class="item">
                                        <a th:href="@{/archives/user/{userid}(userid=${blog.user.id})}" href="#" >
                                            <img src="../static/image/jenny.jpg" th:src="${blog.user.avatar}"
                                                 style="width: 40px;height: 40px" alt="" class="ui avatar image"></a>
                                    </div>
                                    <div class="item">
                                        <a th:href="@{/archives/user/{userid}(userid=${blog.user.id})}" href="#" class="header" th:text="${blog.user.nickName}">蓝景优</a>
                                    </div>
                                    <div class="item">
                                        <i class="calendar icon" ></i>
                                        <span th:text="${#dates.format(blog.createTime,'yyyy-MM-dd')}">2020-01-09</span>
                                    </div>
                                    <div class="item">
                                        <i class="eye icon" ></i>
                                        <span th:text="${blog.views}">2365</span>
                                    </div>
                                </div>
                            </div>
                            <div class="four wide column">
                                <a href="#" class="ui label teal basic " target="_blank" th:text="${blog.type.name}">认知升级</a>
                            </div>
                        </div>

                    </div>
                    <div class="five wide column">
                        <a href="#" th:href="@{/blog/{id}(id=${blog.id})}"  target="_blank">
                            <img style="width: 350px;height: 200px"
                                 th:src="${blog.firstPicture}" src="../static/image/bg (1).jpg" alt="" class="ui rounded image">
                        </a>
                    </div>
                </div>
            </div>
            <!--文章列表底部-->
            <!--文章列表底部-->
            <div class="ui bottom attached segment stackable">
                <div class="ui middle aligned two column grid" th:if="${page.totalPages}>1">
                    <div class="column">
                        <a href="#" class="ui mini basic button" th:href="@{/types/{id}(page=${page.number}-1)}" th:unless="${page.first}">上一页</a>
                    </div>
                    <div class="column">
                        <a href="#" class="ui mini basic button"  th:href="@{/types/{id}(page=${page.number}+1)}" th:unless="${page.last}">下一页</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

<!--底部-->
    <footer th:replace="_fragments::footer"  class="ui inverted vertical segment m-padded-tb-massive ">
        <div class="ui middle aligned container m-opacity-mini m-container-sm">
            <div class="ui inverted divided attached grid aligned stackable">
                <div class="two wide column">
                    <img src="../static/image/qrcode.png" class="ui rounded image" alt="" style="width: 100px">
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header">最新博客</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item ">首页</a>
                        <a href="#" class="item">分类</a>
                        <a href="#" class="item">标签</a>
                        <a href="#" class="item">关于我</a>
                    </div>
                </div>
                <div class="four wide column">
                    <h4 class="ui inverted header">联系我</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Email:lanjydeve2014@163.com</a>
                        <a href="#" class="item">QQ:1615960786</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <div class="ui inverted link list">
                        <h4 class="ui inverted header"></h4>
                        <p>这是我的个人博客，会不定期分享一些编程、写作、思考相关的文章......</p>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="ui inverted divided attached grid center aligned">
                <div class="sixteen wide column">
                    <p class=" m-text-thin m-text-space m-text-lined">Copyright©2019-2025 Designed by lanjy</p>
                </div>
            </div>
        </div>
    </footer>




    <script>
        $(".ui.dropdown").dropdown();
        $("#sidebar_button").click(function () {
            $('.m-item').toggleClass('m-mobile-hide');
        });

    </script>
</body>
</html>